<!doctype html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <title>Websocket ChatRoom</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link href="/webjars/bootstrap/4.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div>
    <button onclick="location.href=`/chat/room`">돌아가기</button>
    <button onclick="disconnect_test()">채팅방 나가기</button>
</div>
<div class="container" id="app" v-cloak>
    <div>
        <h2>{{room.name}}</h2>
    </div>

    <ul class="list-group">
        <li class="list-group-item" v-for="message in messages">
            {{message.sender}} : {{message.message}}    -      {{message.time}}
        </li>
    </ul>
    <div class="input-group">
        <div class="input-group-prepend">
            <label class="input-group-text">내용</label>
        </div>
        <input class="form-control" type="text" v-model="message" v-on:keypress.enter="sendMessage">
        <div class="input-group-append">
            <button @click="sendMessage" class="btn btn-primary" type="button">보내기</button>
        </div>
    </div>
    <div style="margin: 150px;"></div>
    <div id="container" ref="msgContainer">
        <!-- content -->
    </div>
</div>
<!-- JavaScript -->
<script src="/webjars/vue/2.5.16/dist/vue.min.js"></script>
<script src="/webjars/axios/0.17.1/dist/axios.min.js"></script>
<script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>
<script>
    //alert(document.title);
    // websocket & stomp initialize
    var sock = new SockJS("/ws/chat");
    var ws = Stomp.over(sock);
    var reconnect = 0;
    // vue.js
    var vm = new Vue({
        el: '#app',
        data() {
            return {
                roomId: '',
                room: {},
                sender: "",
                message: '',
                messages: []
            }
        },
        created() {
            this.roomId = localStorage.getItem('wschat.roomId');
            this.sender = localStorage.getItem('wschat.sender');
            this.findRoom();
        },
        methods: {
            findRoom: function () {
                axios.get('/chat/room/' + this.roomId).then(response => {
                    this.room = response.data;
                });
            },
            sendMessage: function () {
                this.scrollToBottom();
                ws.send("/app/chat/message", {}, JSON.stringify({
                    type: 'TALK',
                    performanceId: this.roomId,
                    memberNickName: this.sender,
                    message: this.message,
                    idTag: this.sessionId,
                }));
                this.message = '';
            },
            recvMessage: function (recv) {
                this.messages.push({
                    "type": recv.type,
                    "sender": recv.type == 'ENTER' ? '[알림]' : recv.memberNickName,
                    "message": recv.message,
                    "time" : recv.messageTime,
                })
            },
            scrollToBottom: function() {
                const container = this.$el.querySelector("#container");
                container.scrollIntoView({ behavior: "smooth" });
            }
        }
    });

    function connect() {
        // pub/sub event
        ws.connect({}, function (frame) {
            ws.subscribe("/topic/chat/room/" + vm.$data.roomId, function (message) {
                var recv = JSON.parse(message.body);
                vm.recvMessage(recv);
            });
            axios.get('/chat/logs/' + vm.$data.roomId + "?size=50&start=" + vm.$data.messages.length).then(response => {
                let msgs = response.data.reverse();
                for (let i = 0; i < msgs.length; i++) {
                    vm.recvMessage(msgs[i]);
                }
                ws.send("/app/chat/message", {}, JSON.stringify({
                    type: 'ENTER',
                    performanceId: vm.$data.roomId,
                    memberNickName: vm.$data.sender,
                }));
            });
        }, function (error) {
            if (reconnect++ <= 5) {
                setTimeout(function () {
                    console.log("connection reconnect");
                    sock = new SockJS("/ws/chat");
                    ws = Stomp.over(sock);
                    connect();
                }, 10 * 1000);
            }
        });
    }

    connect()

    function disconnect_test() {
        ws.send("/app/chat/message", {}, JSON.stringify({
            type: 'OUT',
            performanceId: vm.$data.roomId,
            memberNickName: vm.$data.sender,
        }));
        ws.disconnect();
    }

    disconnect_test();
</script>
</body>
</html>